
.login-main{
    font-family: "open-sans",sans-serif;
    background-color: #1d284d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container{
    font-family: "open-sans", sans-serif;
    display: grid;
    grid-template-columns: 1fr 2f;
}

.login1,.login2{
    border: 1px solid black;
    height: 500px;
    box-shadow: 10px 10px 10px rgb(0,0 ,0.5);
}

.login1{
    border-radius: 20px 0 0 20px;
    background-color: white;
}

.login2{
    background-image: url(../Assests/login-background.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0px 20px 20px 0px;
    color: white;
    padding-left: 2rem;
}

.welcome-to-grant-block{
    font-family: "open-sans", sans-serif;
    font-size: 350%;
    margin-top: 10rem;
}

.login-label{
    margin-top: 3em;
    text-align: center;
    font-family: "open-sans",sans-serif;
    color: black;
}

.username-tag{
    color: black;
    font-weight: 300;
}

.username-input{
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    height: 4%;
    width: 80%;
    margin-left: 2em;
    float: left;
}

.forgot-password{
    font-size: 80%;
    float: right;
    margin-right: 3.5em;
    cursor: pointer;
}

.forgot-password:hover{
    text-decoration: underline;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button{
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px 30px 10px 30px;
    background-color: #1d284d;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.login-button:hover{
    text-decoration: underline;
}

.error-message{
    padding-left: 2.5em;
    color: red;
    font-size: 70%;
}

.create-account,.google-signin{
    text-align: center;
    font-size: 75%;
    cursor: pointer;
}

.create-account:hover,.google-signin:hover{
    text-decoration: underline;
}