@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=open+sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.navbar-main-body{
    font-family: "plus jakarta sans", sans-serif;
}

.Navbar{
    position: relative;
    height: 70px;
    background-color: transparent;
    font-family: "open sans", sans-serif;
    display: flex;
    padding-bottom: 1em;
}

.profile-login{
    position: absolute;
    top: 1em;
    right: 2em;
    font-size: 120%;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: transparent;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    z-index: 99;
}

.profile-login:hover{
    color: white;
    border-color: white;
}

.grant-block-header{
    padding: 10px;
    margin-top: 0.2em;
}

.navbar-list{
    list-style: none;
    display: inline-block;
    position: absolute;
    top: 1.5em;
    right: 12em;
    z-index: 99;
}

.navbar{
    margin-left: 1em;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: transparent;
    font-weight: 500;
    cursor: pointer;
    border-style: none;
    transition: 0.5s;
    font-size: 1em;
}
.navbar:hover{
    color: white;
}
