.navbar{
    height: 80px;
    background-color: #1d284d;
    color: white;
    font-size: 40px;
    text-align: left;
    justify-self: center;
    padding-left: 30px;
    padding-top: 10px;
    font-weight: bolder;
}
