@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

 .head-grid{
    margin: 2em;
    font-family: "roboto", sans-serif;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.head-grid1, .head-grid2{
    padding: 100px;
    padding-left: 2em;
    border: 1px solid black;
    line-height: 90%;
}

.sub-heading{
    font-stretch: expanded;
    font-size: 100%;
}

.head-grid1{
    border-radius: 10px 0px 0px 10px;
    border-right: 0;
    background-image: linear-gradient(to right, #FF9933, #FFC266);
    color: white;
}
.head-grid2{
    position: relative;
    border-radius: 0px 10px 10px 0px;
    border-left: 0;
    background-size: cover;
    background-position: 0px -80px;
    background-image:linear-gradient(to left, #FF9933, #FFC266);
}

.grant-block{
    font-size: 300%;
}

.grant{
    border-radius: 10px;
    margin: -4em;
    margin-left: 5em;
    width:90%;
}

.slogan{
    position: relative;
    padding-bottom: 35px;
    padding-left: 13rem;
    height: 150px;
    border: 1px solid black;
    margin: 3em 2em 2em 2em;
    border-radius: 5px;
    font-family: "roboto", sans-serif;
}

.grant-Block{
    font-size: 200%;
}

.sub-heading2{
    line-height: 1.5em;
}

.indian-map{
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    border-radius: 5px 5px 5px 5px;
    height: 170px;
}

.about-grant-block{
    margin: 3em 5em 2em 5em;
    font-family: "open-sans", sans-serif;
    text-align: center;
    padding: 0 40px 0 40px;
}

.help-line{
    font-family: "open-sans", sans-serif;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 4em;
    gap: 3em;
}

.help-line1,
.help-line2,
.help-line3{
    border: 1px solid black;
    border-radius: 20px;
    height: 400px;
    padding-left: 2rem;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.who-can-apply{
    font-size: 150%;
}

.wallet{
    padding-top: 1rem;
    padding-left: 5rem;
    width: 100px;
}

.howto{
    padding-top: 1.5rem;
    padding-left: 1rem;
    width: 90%;
}

.contactus{
    padding-top: 3.8rem;
    margin-left: -2.5rem;
    width: 110%;
}