<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


body{
    overflow-x: hidden;
}

.hp-main{
    font-family: "plus jakarta sans", sans-serif;
}
=======

>>>>>>> 9d104b71a6617b271b5a984c2f2fe59759f7c5f0

 .head-grid{
    display: grid;
    grid-template-columns: 2fr 2fr;
    height: 500px;
    margin-bottom: 10em;
}
.head-grid1{
    padding: 100px;
    padding-left: 2em;
    line-height: 90%;
    border-radius: 10px 0px 0px 10px;
    overflow: auto;
}

.sub-head-grid.one{
    height: 700px;
    width: 600px;
    position: absolute;
    right: -3em;
    top: -3em;
    border-radius: 50%/50%;
    transform: rotate(30deg);
    background-color: rgba(128, 0, 128, 0.5); /* Little purple with 50% opacity */
}
.sub-head-grid.two{
    height: 700px;
    width: 600px;
    position: absolute;
    right: 2em;
    top: -3em;
    background-color: rgba(255, 165, 0, 0.5); /* Orange with 50% opacity */
    transform: rotate(-60deg);
    border-radius: 50%;
}
.sub-head-grid.three{
    height: 700px;
    width: 600px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 6em;
    top: -3em;
    background-color: rgba(255, 255, 0, 0.5); /* Yellow with 50% opacity */
    transform: rotate(-60deg);
    border-radius: 50%;
}

.grant{
    transform: rotate(60deg);
}

.grant-block{
    font-size: 300%;
}

.sub-heading.two{
    font-weight: 600;
    font-size: 1.em;
}

.sub-heading{
    line-height: 1.25em;
    text-align: justify;
}

.slogan{
    position: relative;
    padding-bottom: 35px;
    padding-left: 13rem;
    height: 150px;
    margin: 3em 2em 10em 2em;
    border-radius: 5px;
    font-family: "roboto", sans-serif;
}

.grant-Block{
    font-size: 200%;
}

.sub-heading2{
    line-height: 1.5em;
}

.indian-map{
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    border-radius: 5px 5px 5px 5px;
    height: 170px;
}

.about-grant-block{
    margin: 3em 5em 2em 5em;
    font-family: "open-sans", sans-serif;
    text-align: center;
    padding: 0 40px 0 40px;
}

.help-line{
    font-family: "open-sans", sans-serif;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3em;
    margin: 2em;
}

.help-line1,
.help-line2,
.help-line3{
    border: 1px solid black;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    width: 300px;
}

.who-can-apply{
    font-size: 150%;
}

.home-icon {
    max-width: 100%;  
    height: 225px; ;
}

  

