@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=open+sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.user-page-body{
    background-image: url(../Assests/user-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.userHeader {
    font-size: 50px;
    margin-left: 2rem;
    font-family: "roboto sans", sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.headerBody {
    line-height: 30px;
    font-weight: 400;
    font-family: "roboto", sans-serif;
    font-size: 15px;
    margin-left: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.footer-body {
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    text-align: center;
}

.variety{
    height: 300px;
    margin-top: -3em;
    margin-bottom:2em;
}

.update{
    height: 250px;
}

.tracking{
    height: 350px;
}

 .footer-head{
    margin-top: 5em;
    font-family: "roboto", sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
 }

 .footer-head.updated{
    margin-top:2em ;
 }

 .footer-content{
    margin-top: 2em; 
    margin-bottom: 10em;
 }

 .footer-button{
    padding: 10px 20px 10px 20px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 25px;
    font-weight: 500;
    font-family: "roboto", sans-serif;
    color: white;
    cursor: pointer;
    transition: 0.3s;
 }

 .footer-button:hover{
    padding: 12px 22px 12px 22px;
    backdrop-filter: blur(20px);
}
