.candidate-header{
    text-align: center;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 2rem;
}
.input-tag
{
    margin-left: 1rem;
    font-size: 15px;
    font-weight: bold;
}
.result-label{
    margin-top: 5px;
    font-weight: 500;
    float: left;
    font-size: 12px;
}

.result-card{
    border-radius: 10px;
    border: 1px solid black;
    width: 300px;
}
.view-pdf{
    border-radius: 5px;
    border: 1px solid black;
    margin: 1rem;
    padding: 5px;
}