@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=open+sans&display=swap');

.scheme-main-body {
    background-image: url(../Assests/user-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 150vh;
}

.scheme-page {
    border: 1px solid black;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 2rem 0rem 2rem;
}

.scheme-card {
    font-family: "roboto", sans-serif;
    position: relative;
    margin: 1rem;
    border: 1px solid #000;
    background-color: white;
    height: 20rem;
    width: 15rem;
    border-radius: 20px;
    font-size: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.scheme-name {
    padding-top: 1em;
    font-family: "robot", sans-serif;
    position: absolute;
    bottom: 0;
    height: 3rem;
    backdrop-filter: blur(10px);
    color: white;
    width: 15rem;
    border-radius: 20px;
    transition: 1s;
    box-shadow: 0px -20px 10px -10px rgba(0, 0, 0, 0.5);
    cursor: grabbing;
}

.scheme-name:hover {
    background-color: transparent;
    height: 15rem;
    transition: 1s ease-in-out;
}

.scheme-title {
    font-family: "open sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    text-shadow: 1px 1px 2px rgb(0, 0, 0.5);
    padding-left: 1em;
}

.no-schemes-activated {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "plus jakarta-sans", sans-serif;
    font-size: 1.25em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 1.75em;
    word-spacing: 0.15em;
    margin-top: -2.5em;
}

.no-scheme-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.no-scheme{
    height: 150px;
}

.scheme-content {
    opacity: 0;
    margin-left: 1em;
    font-size: 13px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0.5);
}

.scheme-name:hover .scheme-content {
    opacity: 1;
    transition: opacity 7s;
}

.poultry {
    margin: 1em;
}

.no-ipfs{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
    color: white;
}

.refresh{
    font-family: "plus jakarta sans", sans-serif;
    font-weight: bold;
    padding: 0.75em 1em;
    border: 1px solid white;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    color: white;
}

.refresh:hover{
    background-color: transparent;
}

.refresh-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
