@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=open+sans&display=swap');

.scheme-main-body{
    background-image: url('../Assests/user-bg.jpg');
    background-position: center;
    background-size: cover;
}

.scheme-page {
    border: 1px solid black;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin:0 2rem 0rem 2rem;
}

.scheme-card {
    font-family: "roboto", sans-serif;
    position: relative;
    margin: 1rem;
    border: 1px solid #000;
    background-color: white;
    height: 20rem;
    width: 15rem;
    border-radius: 20px;
    font-size: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.scheme-name {
    padding-top: 1em;
    font-family: "robot", sans-serif;
    position: absolute;
    bottom: 0;
    height: 3rem;
    backdrop-filter: blur(10px);
    color: white;
    width: 15rem;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0px -20px 10px -10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.scheme-title{
    font-family: "open sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    padding-left: 1em;
}

.scheme-name:hover {
    background-color: transparent;
    height: 15rem;
}

.scheme-content {
    opacity: 0;
    margin-left: 1em;
    font-size: 13px;
}

.scheme-name:hover .scheme-content{
    opacity: 1;
}

.poultry {
    margin: 1em;
}