@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.gov-home-main-body{
    font-family: "plus jakarta sans", sans-serif;
}

.welcome-text{
    line-height: 0.25em;
    margin: 4em 0em 0em 2em;
}
.welcome-veo{
    color: gray;
}

.gov-home-half{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 2em;
    gap: 2em;
    margin-top: 2em;
}

.gov-home-options{
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    width: 250px;
    padding: 3em 0;
    cursor: pointer;
}

.gov-home-rules{
    display:flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 25px;
    width: 350px;
    padding: 3em 1em;
    position: absolute;
    right: 2em;
    top:10em;
}

.gov-rules{
    border-style: none;
    background-color: transparent;
    line-height: 4.75em;
    text-align: left;
    font-size: 1.25em;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 25px ;
}

.gov-rules:hover{
    border: 1px solid black;
}

