@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.result-main-body{
    font-family: "plus jakarta sans", sans-serif;
}

.result-header{
    text-align: center;
}

.result-content{
    font-family: "plus jakarta sans", sans-serif;
}

.result-content-header{
    padding-left: 1.3em;
    font-size: 1.5em;
    font-weight: 500;
}

.result-body-container{
    margin: 1.5em;
    padding: 15px;
    border-radius: 15px;
    background-color: #EAEAEA;
}

.result-name{
    font-size: 1.5em;
    font-weight: 600;
}

.result-number{
    font-size: 1em;
    margin-top: -1em;
}

.bc-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.block-button{
    font-family: "plus jakarta sans", sans-serif;
    font-weight: bold;
    padding: 0.75em 1em;
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
}

.block-button:hover{
    background-color: black;
    color: white;
}
