.notify-main-body{
    background-image: url(../Assests/user-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 100vh;
}

.no-results{
    text-align: center;
}